.inner-circle {
  background: url("../img/wheel/innercircle.png") no-repeat;
  background-size: contain;
  transform: translate(13%, 8%);
  width: 78%;
  height: 78%;
  &__plashka {
    background: url("../img/wheel/plashka.png") no-repeat;
    background-size: contain;
    transform: translateX(76%);
    width: 40%;
    height: 60%;
  }
  &__button {
    background: url("../img/wheel/buttom.png") no-repeat;
    background-size: contain;
    transform: translate(75%,-75%);
    width: 40%;
    height: 40%;
  }
}
