.wheel {
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../img/wheel/bg_wheel.png");
  background-size: contain;
  max-width: 835px;
  max-height: 835px;
  width: 100vw;
  height: 100vw;
}
